.button,
.input {
  margin: 10px 0;
}

.chat__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  width: 80%;
  height: 90%;
  margin-top: -40px;
  max-width: 800px;
  border: solid 2px #007bff;
  border-radius: 10px;
}

.chat__wrapper_text {
  margin-top: 10px;
  width: 97%;
  min-height: 85%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: solid 1px #ced4da;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column;
}

.chat__wrapper_loading {
  font-size: 2rem;
  color: #ced4da;
}

.chat__wrapper_loading-connect {
  display: none;
}

.chat__wrapper_loading-disconnect {
  display: block;
}

.form-input__send-message {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* .form-inline {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
} */

.form__send-message {
  display: flex;
  width: 100%;
}

.form__wrapper {
  width: 100%;
  display: flex;
}

@media (max-width: 576px) {
  .chat__wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
  .chat__wrapper_text {
    /* min-height: 80%; */
    height: 100%;
    margin-top: 0;
  }
  /* .form-inline {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
  } */

  /* .button-send {
    margin: 0 0 10px 0;
  } */

  /* .button {
    margin-bottom: 10px;
  } */

  /* .form__send-message {
    padding-bottom: 7%;
  } */
}

.form__button-wrapper {
  display: flex;
  justify-content: flex-end;
}
