.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  width: 80%;
}

.header-login {
  background-color: #fff;
  color: #007bff;
  padding: 6px 12px;
  border: solid 1px #007bff;
  border-radius: 0.25rem;
  max-width: 70%;
  word-break: break-all;
  margin: 10px 0;
  font-weight: bold;
}

.button {
  margin: 10px 0;
}
