.message-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5px;
  margin: 2px 10px;
}

.message-time {
  font-size: 0.8rem;
  color: #ced4da;
}

.message {
  /* color: #ffffff; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
  border-radius: 0.25rem;
  max-width: 80%;
}

.message-primary {
  background-color: #19eba6;
  /* border: solid 2px #80c5cc; */
}

.message-secondary {
  background-color: #eb195e;
  /* border: solid 2px #cc8780; */
}
.message-from,
.message-text {
  display: inline-block;
  text-align: left;
  padding: 0 5px;
}
.message-text a {
  color: #ffffff;
}

.message-name {
  word-wrap: break-word;
}

.message-text {
  word-break: break-all;
  max-width: 100%;
}

@media (max-width: 576px) {
  .message-wrapper {
    margin: 2px 0;
  }
  .message-from {
    word-break: break-all;
    min-width: 25%;
  }

  .message-text {
    /* word-break: break-all; */
    min-width: 25%;
  }
}
